<?xml version="1.0" encoding="utf-8"?>
  <connectionStrings>
	  <add name="Migrations.OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=;Password=;Data Source=" />
	  <add name="App.OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=;Password=;Data Source=" />
  </connectionStrings>
