<?xml version="1.0" encoding="utf-8"?>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
		  <dataSource alias="" descriptor="(DESCRIPTION = (ADDRESS = (PROTOCOL = tcp)(HOST = )(PORT = 1521)) (CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = )))" />
	  </dataSources>
    </version>
  </oracle.manageddataaccess.client>