<?xml version="1.0" encoding="utf-8"?>
  <connectionStrings>
	  <add name="Migrations.OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=GxpCONF_QA;Password=GxpCONF_QA;Data Source=Gxp" />
	  <add name="App.OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=GxpAPI_QA;Password=GxpAPI_QA;Data Source=Gxp" />
  </connectionStrings>
