<?xml version="1.0" encoding="utf-8"?>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
	      <dataSource alias="Gxp" descriptor="(DESCRIPTION = (ADDRESS = (PROTOCOL = Gxp)(HOST = srvoracledbdev01.Gxp.com.br)(PORT = 1521)) (CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = NAVISDEV)))" />
	  </dataSources>
    </version>
  </oracle.manageddataaccess.client>